{{>layout/header}}
        <div class="container bg-light text-dark mt-5 p-5 rounded">
            <h1 class="text-dark">상품상세</h1>
            <div class="mb-5">
                <div>
                    번호 : {{model.id}} <br />
                    상품명 : {{model.name}} <br />
                    상품가격 : {{model.price}}원 <br />
                    상품재고 : {{model.stock}}개 <br />
                </div>
                <br />
                <a href="/store/{{model.id}}/update-form" class="btn btn-primary">수정</a>
                <a href="/store/{{model.id}}/delete" class="btn btn-danger">삭제</a>
            </div>

            <form action="/log/save" method="post">
                <div class="row">
                    <div class="col">
                        <input type="hidden" name="storeId" value="{{model.id}}" />
                        <input
                            type="number"
                            class="form-control"
                            placeholder="수량 입력"
                            name="qty"
                            value="10"
                        />
                    </div>
                    <button class="col btn btn-dark">구매</button>
                </div>
            </form>
        </div>
{{>layout/footer}}
