{{>layout/header}}
        <div class="container mt-5 ">
            <div class="p-5 bg-dark text-white rounded">
                <h1>메타 상점에 오신것을 환영합니다</h1>
                <p>안녕하세요 쌀님</p>
            </div>
        </div>
{{>layout/footer}}
